/* Global styles */
body {
  padding: 0;
  margin: 0;
  background-color: #F0F0F6;
}

body main {
  display: flex;
}

/* Profile card */
.profile-card {
  width: 30%;
  height: fit-content;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.image-div {
  text-align: center;
}

.image-div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-card h1,
.profile-card p,
.identity-rows .lead,
.identity-rows .follow,
.languages-rows h1,
.languages-rows p,
.skills-rows h1,
.skills-rows p,
.content-body h1,
.content-body p,
.testimonial .author-info .name,
.testimonial .author-info .title {
  font-family: 'Inter', sans-serif;
}

.profile-card h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.profile-card p {
  font-size: 18px;
  margin-top: 10px;
}

.social-media-div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.social-media-div a {
  margin: 0 10px;
}

.social-media-div img {
  width: 30px;
  height: 30px;
}

.identity-rows div {
  display: flex;
  gap: 10;
}

.identity-rows .lead {
  width: 40%;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.identity-rows .follow {
  width: 60%;
  font-size: 16px;
  text-align: right;
}

.identity-rows div span {
  background-color: #FFB400;
}

.languages-rows h1,
.skills-rows h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.languages-rows p,
.skills-rows p {
  font-size: 16px;
  margin-bottom: 5px;
}

.profile-card Button {
  width: 100%;
  padding: 10px;
  background-color: #FFB400;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* Hero banner */
.body main div .hero-banner {
  display: flex;
  gap: 2%;
  height: auto;
  background-color: #FFFFFF;
}

.body main div .hero-banner div {
  width: 100%;
}

.body main div .hero-banner div img {
  width: 100%;
  height: auto;
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100%;
}

.content-body h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-body #career {
  font-size: 1.2rem;
  color: #FFB400;
}

.content-body p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.content-body button {
  padding: 10px 20px;
  background-color: #FFB400;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content-body button:hover {
  background-color: #FFA000;
}

/* Services content */
.services-content {
  margin: 2rem 0;
  background-color: #FFFFFF;
}

.services-content .heading-banner {
  padding: 2rem 0;
  text-align: center;
}

.services-content .heading-banner h1 {
  font-size: 48px;
}

.services-content .heading-banner p {
  font-size: 20px;
}

.services-set {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.service {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.service img {
  width: 100%;
  border-radius: 8px;
}

.service p {
  font-size: larger;
  font-weight: bold;
}

/* Testimonials content */
.testimonials-content {
  background-color: #f9f9f9;
  padding: 20px;
}

.testimonials-content .heading-banner {
  text-align: center;
}

/* Testimonial Container */
.testimonials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Individual Testimonial */
.testimonial {
  width: calc(30% - 20px);
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

/* Testimonial Rating */
.rating {
  font-size: 14px;
  margin-bottom: 10px;
  color: #FFB400;
}

/* Testimonial Labels */
.labels {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Testimonial Content */
.content {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Testimonial Author */
.testimonial .author {
  display: flex;
  align-items: center;
}

.testimonial .author .author-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial .author .author-info {
  display: flex;
  flex-direction: column;
}

.testimonial .author .author-info .name {
  font-weight: bold;
}

.testimonial .author .author-info .title {
  font-style: italic;
}

/* Media Queries */

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .profile-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .image-div img {
    width: 100px;
    height: 100px;
  }

  .profile-card h1 {
    font-size: 20px;
  }

  .profile-card p {
    font-size: 16px;
  }

  .identity-rows .lead {
    font-size: 14px;
  }

  .identity-rows .follow {
    font-size: 14px;
  }

  .languages-rows h1,
  .skills-rows h1 {
    font-size: 18px;
  }

  .languages-rows p,.skills-rows p {
    font-size: 14px;
  }

  .profile-card Button {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .profile-card {
    display: none;
  }
  .service {
    width: 100%;
  }
  
  .testimonial {
    width: 100%;
  }

  body main div .hero-banner,
  .services-set {
    flex-wrap: wrap;
  }
  
  body main div .hero-banner div {
    width: 100%;
  }
}

/* Consistent font size and styles */
body main div h1,
body main div p,
.profile-card h1,
.profile-card p,
.identity-rows .lead,
.identity-rows .follow,
.languages-rows h1,
.languages-rows p,
.skills-rows h1,
.skills-rows p,
.content-body h1,
.content-body p,
.testimonial .author-info .name,
.testimonial .author-info .title {
  text-align: center;
}

body main div h1 {
  font-weight: 500;
  font-size: 18px;
}

body main div p,
.profile-card p,
.identity-rows .lead,
.identity-rows .follow,
.languages-rows p,
.skills-rows p,
.content-body p,
.testimonial .author-info .name,
.testimonial .author-info .title {
  font-size: 15px;
}

/* Social media icons */
body main div .social-media-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
}

body main div .social-media-div img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 3px;
}

/* Identity rows */
body main .identity-rows div {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

body main .identity-rows div .lead {
  font-size: 12px;
  font-weight: bold;
  width: 60%;
}

body main .identity-rows div .follow {
  font-size: 12px;
  width: 40%;
  text-align: right;
}

body main .identity-rows div span {
  background-color: #FFB400;
}

/* Languages and skills rows */
body main .languages-rows h1,
body main .skills-rows h1,
body main .languages-rows p,
body main .skills-rows p {
  text-align: left;
}

body main .skills-rows p,
body main .languages-rows p {
  border-bottom: 2px solid #FFB400;
  padding: 6px 0;
}

/* Download CV button */
body main div button {
  width: 100%;
  padding: 10px 5px;
  background-color: #FFB400;
  font-weight: bolder;
  border: 0;
  font-size: 20px;
}

body main div button img {
  width: 20%;
  height: 20%;
}

 
